body div {
  color: #f1f1f1;
  font-family: "Quicksand", sans-serif;
}

.App {
  text-align: center;
  color: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .myPicture {
  height: 12rem;
  pointer-events: none;
  border-radius: 100%;
}

.App-header {
  flex: 1;
  background-color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: bold;
  padding: 16px;
}

.link {
  font-size: 14px;
}

.item {
  font-size: 18px;
}

.codeButton {
  text-decoration: none;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 8px;
}

.codeText:hover {
  background-color: #f1f1f1;
}

.codeText {
  padding: 16px;
  width: 32px;
  height: 32px;
  border-radius: 200px;
}

.image {
  width: 12rem;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: 300;
  margin: 16px;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.repos {
  text-align: center;
}

.repo {
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: white;
}

.repo:hover {
  color: lightgray;
}

.bottom {
  background-color: rgb(26, 26, 26);
  width: 100vw;
  display: inline-block;
  flex: 2;
}
