.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 200px;
  border: solid 7px white;
  box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.2);
}

.App-header {
  background-color: #343b47;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  font-size: 14px;
  color: #61dafb;
}

.item {
  font-size: 18px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
}

.textContainer {
  width: 12rem;
}

.cardHeader {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
  padding: 8px;
  text-align: start;
  font-weight: 700;
  color: #343b47;
  text-decoration: none;
}

.year {
  display: inline-block;
  padding: 8px;
  font-size: 13px;
  font-weight: 300;
  text-align: end;
  color: #343b47;
}

.subtitle {
  padding: 8px;
  font-size: 14px;
  font-weight: 300;
  text-align: start;
  color: gray;
}

.codeButton {
  text-decoration: none;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 8px;
}

.codeText:hover {
  background-color: #f1f1f1;
}

.codeText {
  color: gray;
  padding: 16px;
  width: 32px;
  height: 32px;
  border-radius: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(88, 88, 88, 0.4);
}

.image {
  width: 12rem;
}

.sectionTitle {
  font-size: 1.5em;
  color: #343b47;
  font-weight: 300;
  margin: 16px;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.repos {
  text-align: center;
  margin: 16px;
}

.repo {
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

.repo:visited {
  color: #343b47;
}

.repo:hover {
  color: lightgray;
}
